body {
    background-image: url('https://st4.depositphotos.com/13349494/20897/i/600/depositphotos_208971390-stock-photo-top-view-blank-menu-fresh.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    
}
.section-intro {
	text-align: center;
	color: #FFFFFF;
	
}